#catalogModeCurrent {
	color: #e00;
}

.catalog-table {
	border: none;
	font-size:70%;
	text-align: center;
}
.auto-fix>tbody>tr {
	display: inline;
}
.auto-fix>tbody>tr>td {
	display: inline-block;
	width: 54px;
}
.auto-fix>tbody>tr>td>a {
	display: inline-block;
	height: 54px;
}
.catalog-table>tbody>tr>td {
	background: #f0e0d6;
	border: none;
	margin-bottom: 2px;
	text-align: left;
	vertical-align: top;
}
td>a>img {
	border: 2pt solid #f0e0d6;
}
td>a:visited>img {
	border-color: #800;
}

.res-count {
	position: relative;
}
.res-count-delta {
	opacity: .5;
}
br+.res-count {
	display: inline-block;
	width: 100%;
}
br+.res-count .res-count-delta {
	position: absolute;
	right: 1pt;
}

.thumbnail {
	background: rgba(0, 0, 0, .5);
	display: block;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}
.thumbnail-link {
	display: block;
	left: 50%;
	max-height: 80%;
	max-width: 80%;
	position: absolute;
	text-align: center;
	top: calc(50% - 13pt);
	transform: translate(-50%, -50%) scale(1.2);
}
.thumbnail-img {
	display: block;
	max-height: 100%;
	max-width: 100%;
}
#are-toolbtn-threadImgBtn {
	max-width: 5em;
}

#tit {
	font-size:100%;
}

/* AD */
div[style^="width:336px"] {
	margin: 0 auto;
	max-height: 2em;
	max-width: 80%;
	overflow: scroll;
}

/* catalog setting page */
.catalog-setting input {
	margin-bottom: 1em;
	margin-right: .5em;
	padding: .5em;
}

