#catalog-mode-current {
	color: #e00;
}

.catalog-table {
	border: none;
	font-size:70%;
	text-align: center;
}
.auto-fix>tbody>tr {
	display: inline;
}
.auto-fix>tbody>tr>td {
	display: inline-block;
	width: 50px;
}
.catalog-table>tbody>tr>td {
	background: #f0e0d6;
	border: none;
	margin-bottom: 2px;
	text-align: left;
	vertical-align: top;
}
td>a>img {
	border: 2pt solid #f0e0d6;
}
td>a:visited>img {
	border-color: #800;
}

.res-count {
	position: relative;
}
.res-count-delta {
	opacity: .5;
}
br+.res-count {
	display: inline-block;
	width: 100%;
}
br+.res-count .res-count-delta {
	position: absolute;
	right: 1pt;
}

.thumbnail {
	box-shadow: 0 0 2pt rgba(0, 0, 0, .5);
	display: block;
	left: 50%;
	max-height: 80%;
	max-width: 80%;
	opacity: 0;
	outline: none;
	pointer-events: none;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: opacity .5s;
}
.thumbnail:focus {
	opacity: 1;
	pointer-events: auto;
}
.thumbnail>img {
	max-height: 100%;
	max-width: 100%;
	transform: scale(1.2);
}

#tit {
	font-size:100%;
}

/* AD */
div[style^="width:336px"] {
	margin: 0 auto;
	max-height: 2em;
	max-width: 80%;
	overflow: scroll;
}

/* catalog setting page */
.catalog-setting input {
	margin-bottom: 1em;
	margin-right: .5em;
	padding: .5em;
}

