/* toolbar */
body {
	padding-bottom: 25pt;
}
.are4are-toolbar {
	align-items: stretch;
	background-color: #ffe;
	border-top: 1pt solid #fa8;
	bottom:0;
	display: flex;
	justify-content: space-around;
	left:0;
	width:100%;
	position: fixed;
	user-select: none;
	-moz-user-select: none;
	white-space: nowrap;
	z-index: 10;
}
.are4are-toolbar-active {
	animation: are4are-toolbar-active-animation 1s linear 0s infinite alternate;
}
@keyframes are4are-toolbar-active-animation {
	0% { border-color:#8cf; }
	60% { border-color:#8cf; }
	100% { border-color:#fa8; }
}
.are4are-toolbtn {
	align-items: center;
	cursor: pointer;
	display: flex;
	flex: 1;
	font-size: 12pt;
	height: 23pt;
	margin: 2pt 1pt;
	outline: none;
	overflow: hidden;
	position:relative;
}
.are4are-toolbtn:active,
.are4are-toolbtn-down,
.are4are-toolbtn-hold {
	background-color: #fa8;
	color: #ffe !important;
	transition: none;
}
.are4are-toolbtn-tab {
	border-radius: 0 0 8pt 8pt;
	margin-top: 0;
	padding-top: 2pt;
	transition: none;
}
.are4are-toolbtn.are4are-disable {
	opacity: .5;
	pointer-events: none;
}
.are4are-spin::before {
	animation: are4are-spin 1s linear infinite;
}
@keyframes are4are-spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.are4are-spinend::before {
	transition: transform 1s;
}
.are4are-toolbtn::before {
	height: 23pt;
	left: 0;
	margin:auto;
	position:absolute;
	right: 0;
	top: 0;
	width: 23pt;
}

/* hide */
.are4are-hide {
	display: none !important;
}
.are4are-transparent {
	opacity: 0 !important;
	pointer-events: none;
}
.are4are-fade-effect {
	transition: opacity .3s;
}
.are4are-flexout {
	margin: 2pt 0 !important;
	flex: .00001 !important;
}
.are4are-flex-effect {
	transition: all .2s linear;
}

/* util */
.are4are-user-select-none {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

/* toast */
.are4are-toast {
	background: #800;
	border-radius: 3pt;
	bottom: 20%;
	box-shadow: 0 0 3pt 3pt #ffe;
	color: #ffe;
	display: inline-block;
	font-size: 10pt;
	left: 0;
	margin-left: 5%;
	margin-right: 5%;
	padding: .5em 1em;
	position: fixed;
	right: 0;
	width: 80%;
	z-index: 100;
}
.are4are-toast.are4are-fade-effect {
	transition: opacity 1s;
}
.are4are-toast::before {
	background-image: url(../icons/are4are-32.png);
	background-size: 1.2em 1.2em;
	content: " ";
	display: inline-block;
	height: 1em;
	margin: 0 4pt 0 -4pt;
	width: 1.2em;
}

