/* toolbar */
body {
	padding-bottom: 25pt;
}
.are4are-toolbar {
	background-color: #ffe;
	border-top: 1pt solid #fa8;
	bottom:0;
	display: flex;
	justify-content: space-around;
	left:0;
	line-height: 22pt;
	min-width:100%;
	overflow: auto;
	position: fixed;
	text-align: center;
	user-select: none;
	-moz-user-select: none;
	white-space: nowrap;
	z-index: 10;
}
.are4are-toolbar-active {
	animation: are4are-toolbar-active-animation 1s linear 0s infinite alternate;
}
@keyframes are4are-toolbar-active-animation {
	0% { border-color:#8cf; }
	60% { border-color:#8cf; }
	100% { border-color:#fa8; }
}
.are4are-toolbtn,
.are4are-toolbtn:visited {
	border-radius: 3pt;
	cursor: pointer;
	color: #00e;
	display: inline-block;
	font-size: 12pt;
	margin: 2pt 0;
	outline: none;
	padding: 0 2pt;
	text-decoration: underline;
	transition: background-color .3s ease-in;
}
.are4are-toolbtn-down,
.are4are-toolbtn-hold {
	background-color: #fa8;
	color: #ffe;
	transition: none;
}
.are4are-toolbtn.are4are-disable {
	opacity: .5;
	pointer-events: none;
}

/* util */
.are4are-hide {
	display: none !important;
}
.are4are-fade-effect {
	transition: opacity .3s;
}
.are4are-transparent {
	opacity: 0 !important;
	pointer-events: none;
}
.are4are-user-select-none {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

/* toast */
.are4are-toast {
	background: #800;
	border-radius: 3pt;
	bottom: 20%;
	box-shadow: 0 0 3pt 3pt #ffe;
	color: #ffe;
	display: inline-block;
	font-size: 10pt;
	left: 0;
	margin-left: 5%;
	margin-right: 5%;
	padding: .5em 1em;
	position: fixed;
	right: 0;
	width: 80%;
	z-index: 100;
}
.are4are-toast.are4are-fade-effect {
	transition: opacity 1s;
}
.are4are-toast::before {
	background-image: url(../icons/are4are-32.png);
	background-size: 1.2em 1.2em;
	content: " ";
	display: inline-block;
	height: 1em;
	margin: 0 4pt 0 -4pt;
	width: 1.2em;
}

