body {
	background: #ffe;
	color: #800;
}

h1 {
	font-size: 16pt;
}
h1::before {
	background-image: url(../icons/are4are-32.png);
	background-size: 1.2em 1.2em;
	content: " ";
	display: inline-block;
	height: 1em;
	width: 1.2em;
}

fieldset {
	border: none;
	border-top: solid;
}

button {
	margin: .5em 0;
	padding: .5em;
}

select {
	padding: .5em 0;
}

#save {
	margin: 1em 0;
	padding: .5em 2em;
}
