/* transition */
.rtd::before {
	transition: color;
}
td>.del {
	transition: opacity .5s;
}
#are4are_newerBorder {
	transition: width .3s, opacity;
}

/* hover */
td:hover>.del {
	margin: 0 4px;
	opacity: 1;
	width: auto;
}
td:hover>input[value="delete"],
td>input:checked {
	display: unset;
}

